/* Menu Bar */

QMenuBar {
	background: #F5F3F1;
	border-bottom: 1px solid rgba(0, 0, 0, 5%);
}

QMenuBar::item {
	color: #333333;
	padding: 8px 10px;
}

QMenuBar::item:selected {
	background: #C6C6C6;
}
