/* Welcome Push Button */

.QPushButton[type=special] {
	border: 1px solid #CCCCCC;
	background-color: white;
	color: #2B579A;
	border-radius: 2px;
	padding: 8px 35px;
}

.QPushButton[type=special]:disabled {
	color: #CCCCCC;
}

.QPushButton[type=special]:hover {
	background-color: #2B579A;
	color: white;
}

.QPushButton[type=special]:pressed {
	background-color: #002050;
}