/* Welcome Tab */

WelcomeTabContent>QLabel[type=title]{
    color: black;
}

WelcomeTabContent>QLabel[type=tip]{
    color: black;
}

WelcomeTabContent>.FileListWidget {
	background-color: transparent;
	qproperty-itemHeight: 72;
	qproperty-selectColor: rgba(0, 0, 0, 10%);
	qproperty-underlineColor: lightGrey;
	qproperty-filenameColor: black;
	qproperty-directoryColor: #666666;
	qproperty-dateColor: #666666;
}